########################################################################
#
#.gitignore - tell git to ignore these files and directories
#
########################################################################

# Build and devel directories from ros workspace
ros_workspace/build
ros_workspace/devel
ros_workspace/src/CMakeLists.txt

# rosbags are too big if not zipped
/rosbags/*.bag



