<launch>
    <!-- Args for the launcher -->
    <arg name="Xoffset" default="0.08" />
    <arg name="Yoffset" default="0.0"  />

    <!-- Launch the fix_lidar_number.py node -->
    <node name="fix_lidar_number" pkg="scan_fixed" type="fix_lidar_number.py" output="screen">
    </node>

    <!-- Static transformation -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="fix_lidar_transform" args="$(arg Xoffset) $(arg Yoffset) 0.0 0 0 0 laser laser_fixed" />
</launch>