<?xml version="1.0"?>
<launch>

    <arg name="robot" default="L1" />
    
    <node pkg="diff_control" type="diff_control_node" name="diff_controller" output="screen">
        <param name="vrpn_topic" value="/vrpn_client_node/$(arg robot)/pose" />
        <param name="pose_topic" value="/slam_toolbox/pose" />
        <param name="cmd_vel_topic" value="/$(arg robot)/cmd_vel" />
        <param name="a" value="0.1" />
        <param name="Kx" value="1.0" />
        <param name="Ky" value="1.0" />
    </node>

</launch>