<?xml version="1.0"?>
<launch>

    <arg name="robot" default="L1" />

    <arg name="model" default="four_diff"/>
    <arg name="x_pos" default="-2.0"/>
    <arg name="y_pos" default="-0.5"/>
    <arg name="z_pos" default="0.0"/>


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(find limo_description)/urdf/limo_$(arg model).xacro robot_namespace:=$(arg robot)" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model limo_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    
    <node pkg="diff_control" type="diff_control_node" name="diff_controller" output="screen">
        <param name="vrpn_topic" value="/vrpn_client_node/$(arg robot)/pose" />
        <param name="pose_topic" value="/slam_toolbox/pose" />
        <param name="cmd_vel_topic" value="/$(arg robot)/cmd_vel" />
        <param name="goal_topic" value="/$(arg robot)/goal" />
        
        <!-- TurtleSim Parameters -->
        <param name="use_turtle_sim" value="false" />
        <param name="turtle_topic" value="turtle1/pose" />
        
        <!-- Controller Parameters -->
        <param name="a" value="0.1" />
        <param name="Kx" value="1.0" />
        <param name="Ky" value="1.0" />
        <param name="control_frequency" value="10.0" />
    </node>

</launch>